

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-instagram"></i> </a>
            <a href="https://www.linkedin.com/in/mahesh-mali-4188652bb"><i class="fa-brands fa-linkedin"></i> </a>
            <a href="https://www.twitter.com/"><i class="fa-brands fa-square-twitter"></i> </a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited 2024-25</div>
        <div class="f-info-links">
            <a href="/Privacy"> Privacy</a> &nbsp;&nbsp;
            <a href="/Terms"> Terms </a>
        </div>
    </div>
</footer>